<html>
    <body>
        <h3>List Object =  [[${listObject}]]</h3>
        <br>[[${listObject[0]}]]
        <br>[[${listObject[1]}]]
        <br>[[${listObject[2]}]]
        <hr>
        <h3>Map Object = [[${mapObject}]]</h3>
        <br>[[${mapObject["key1"]}]]
        <br>[[${mapObject["key2"]}]]
        <br>[[${mapObject["key3"]}]]
        <!-- <br>[[${mapObject.key1}]]
        <br>[[${mapObject.key2}]]
        <br>[[${mapObject.key3}]] -->
        <hr>
        <h3>Model Object = [[${demoObject}]]</h3>
        <br>[[${demoObject[0]["user"]}]]
        <br>[[${demoObject[1]["user"]}]]
        <br>[[${demoObject[2]["user"]}]]
        <br>[[${demoObject[3]["user"]}]]
        <!-- <br>[[${demoObject[0].user}]]
        <br>[[${demoObject[1].user}]]
        <br>[[${demoObject[2].user}]]
        <br>[[${demoObject[3].user}]] -->
    </body>
</html>